<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

<style> body {background-color: lightblue;}</style>
  <div id="container">
    <h1>New Application Form</h1>

    <div id="user_nav">

      <% if current_user %>
        Welcome <%= current_user.name %>! |
        <%= link_to "Sign Out", signout_path %>
        <%= render 'current_user_form' %>
      <% else %>
      You can <%= link_to "Sign in with Facebook", "/auth/facebook" %> or just continue to fill out the form.
        <%= render 'form' %>
      <% end %>
    </div>

    <%= link_to 'Back to Main Page', root_path %>

  </div>
