
<style> body {background-color: lightblue;}</style>
  <div id="container">
    <h1>New Application Form</h1>

    <div id="user_nav">

      <% if current_user %>
        Welcome <%= current_user.name %>! |
        <%= link_to "Sign Out", signout_path %>
        <%= render 'current_user_form' %>
      <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook" %>
        <%= render 'form' %>
      <% end %>
    </div>

    <%= link_to 'Back', application_forms_path %>

  </div>
