
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application_form.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @application_form.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @application_form.email %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @application_form.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @application_form.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @application_form.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @application_form.zip %>
</p>

<p>
  <strong>Information:</strong>
  <%= @application_form.information %>
</p>

<%= link_to 'Back to Main Page', root_path %>
