<head>
<%= stylesheet_link_tag 'form' %>
<%= javascript_include_tag('printbreed.js') %>
</head>


<body class="test">

<%= form_for @pet, html: { multipart: true } do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>

<% @pet.pet_images.each do |pet_image| %>
  <%= image_tag(pet_image.photo.url(:medium)) %>
  <%= link_to 'Destroy', '/pet_images/' + pet_image.id.to_s, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<div class="field">
  <%= f.label :Photo %>
  <p class="note">To upload multiple images, select all images that you want to upload by holding Command (Mac) or <span id="paren">Control(PC)</span>.</p>
  <%= file_field_tag "photos[]", type: :file, multiple: true %>
</div>

<div class="field">
  <%= f.label :species %><br>
  <%= f.select :species,[['Dog', 'dog'], ['Cat', 'cat'], ['Other','other']], :id=>"species" %>
</div>
  <div class="field">
     <%= f.label :gender %><br>
     <%= f.label :gender, "Male" %>
     <%= f.radio_button :gender, 'male', :class=> "button" %>
     <%= f.label :gender, "Female" %>
     <%= f.radio_button :gender, 'female' %>
  </div>
<div class="field">
  <%= f.label :age %><br>
  <%= f.text_field :age %>
</div>
<div class="field">
  <%= f.label :weight %><br>
  <%= f.number_field :weight %>
</div>
<div class= "field">
  <label for="breed_name">Breed</label><br>
  <input type="text" name="breed_0" id="breed_name"/>
  <input type="button" onclick="list_breed()" value="Add Another Breed">
  <div id= "breed_output">
  </div>
</div>

<div id= "existing_output">
  <% if !@pet.breeds.nil? %>
    <% if !@pet.breeds.empty? %>

      <ul><% @pet.breeds.each do |breed| %>
        <li><%= breed.breed_name %></li>
        <a data-method="get" href="/pets/<%= @pet.id %>/remove_breed/<%= breed.id %>">Remove this breed from pet</a>
        </br></br>
        <% end %>
      </ul>
      <% end %>
    <% end %>
</div>

<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description, size: "50x10" %>
</div>

<p class="note">Note: Images may take a few moments to upload. Please do not click button more than once.</p>

<div class ="actions">
  <input type ="submit" name="commit" value="Save Pet" id="save-btn"/>
</div>

<% end %>
</body>
