<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :species %><br>
  <%= f.select :species,[['Dog', 'dog'], ['Cat', 'cat'], ['Other','other']] %>
</div>
  <div class="field">
     <%= f.label :gender %><br>
     <%= f.label :gender, "Male" %>
     <%= f.radio_button :gender, 'male' %>
     <%= f.label :gender, "Female" %>
     <%= f.radio_button :gender, 'female' %>
  </div>
<div class="field">
  <%= f.label :age %><br>
  <%= f.text_field :age %>
</div>
<div class="field">
  <%= f.label :weight %><br>
  <%= f.number_field :weight %>
</div>



<!-- <div class="actions">
  <%= f.submit %>
</div> -->

<div class= "field">
  <label for="breed_name">Breed</label><br>
  <input type="text" name="breed[breed_name]" id="breed_name"/>
</div>

<div class ="actions">
  <input type ="submit" name="commit" value="Save Pet"/>
</div>

<% end %>
