<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

<h1 id="petlist">Meet our furry friends!</h1>

<div class="outer">
  <% @pets.each_slice(3) do |slice| %>

    <div class="petsMain">
      <% slice.each do |pet| %>
        <div class="petPrintout">
          <h3 class="petName"><%= link_to pet.name , pet %></h3>
          <% if pet.pet_images.first.nil? %>
            <p>No Image uploaded</p>
            <% else %>
              <%= link_to image_tag(pet.pet_images.first.photo.url(:medium)), pet %>
          <% end %>
          <p><br><%= pet.species %>,
          <%= pet.gender %>,
          age <%= pet.age %>,
          <%= pet.weight %> lbs</p>

          <p><% if !pet.breeds.empty? %>
                <% pet.breeds.each do |b| %>
                  <%= b.breed_name %>
                <% end %>
                <% else %>
                <%= "No breed known" %>
              <% end %></p>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
<br>

<%= link_to 'Main Page', root_path, class: "profile" %>
