<head>
<%= stylesheet_link_tag 'form' %>
</head>


<h1 id="eP">Edit Pet Information</h1>
<%= render 'login' %>

<%= render 'form' %>

<%= link_to 'Show', @pet %> |
<%= link_to 'Back', pets_path, :style=>"color: orange;" %>
<%= link_to 'Destroy', @pet, method: :delete, data: { confirm: 'Are you sure?' } %>
