<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<% if @pet.pet_images.first.nil? %>
  <%= image_tag "comingsoon.jpg" %>
<% end %>

<% @pet.pet_images.each do |pet_image| %>
  <%= image_tag(pet_image.photo.url(:medium)) %>
<% end %>


<p>
  <strong>Species:</strong>
  <%= @pet.species %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @pet.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @pet.weight %>
</p>
<p><strong>Breed:</strong> 
  <% if !@pet.breeds.empty? %>
      <% @pet.breeds.each do |b| %>
        <%= b.breed_name %>
      <% end %>
      <% else %>
      <%= "No breed known" %>
    <% end %></p>

<p>
  <strong>Description:</strong>
  <%= @pet.description %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
