
<%= render 'login' %>

<h1>Admin Page</h1>


<%= link_to 'Add a Pet', new_pet_path %>

<br>

<%= link_to 'Pets Listing', pets_path %>

<br>

<%= link_to 'Application Listings', application_forms_path %>

<br>

<%= link_to 'Main Page', root_path %>
